<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
    <rules>
        <rule name="Enforce canonical hostname" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
                <add input="{HTTP_HOST}" negate="true" pattern="^www\.caesarscourt\.com$" />
            </conditions>
            <action type="Redirect" url="http://www.caesarscourt.com/{R:1}" redirectType="Permanent" />
        </rule>
<rule name="rule 3J">
	<match url="^about-us/?$"  />
	<action type="Rewrite" url="/about-us.php"  />
</rule>
<rule name="rule 4J">
	<match url="^our-rooms/?$"  />
	<action type="Rewrite" url="/room.php"  />
</rule>
<rule name="rule 5J">
	<match url="^faqs/?$"  />
	<action type="Rewrite" url="/faq.php"  />
</rule>
<rule name="rule 6J">
	<match url="^contact-us/?$"  />
	<action type="Rewrite" url="/contact.php"  />
</rule>
<rule name="rule 7J">
	<match url="^restuarant/?$"  />
	<action type="Rewrite" url="/restuarant.php"  />
</rule>
<rule name="rule 8J">
	<match url="^reservation/?$"  />
	<action type="Rewrite" url="/reservation.php"  />
</rule>
<rule name="rule 9J">
	<match url="^make-reservation/?$"  />
	<action type="Rewrite" url="/reservation-1.php"  />
</rule>
<rule name="rule 10J">
	<match url="^termsandcondition/?$"  />
	<action type="Rewrite" url="/term-condition.php"  />
</rule>
<rule name="rule 11J">
	<match url="^gallery/?$"  />
	<action type="Rewrite" url="/gallery.php"  />
</rule>
<rule name="rule 12J">
	<match url="^payment/?$"  />
	<action type="Rewrite" url="/payment.php"  />
</rule>
<rule name="rule 13J">
	<match url="^failure/?$"  />
	<action type="Rewrite" url="/failure.php"  />
</rule>
<rule name="rule 14J">
	<match url="^success/?$"  />
	<action type="Rewrite" url="/success.php"  />
</rule>
<rule name="rule 15J">
	<match url="^payment-success/?$"  />
	<action type="Rewrite" url="/payment-success.php"  />
</rule>
<rule name="rule 16J">
	<match url="^lockscreen/?$"  />
	<action type="Rewrite" url="/lockscreen.php"  />
</rule>
<rule name="rule 17J">
	<match url="^recovery/?$"  />
	<action type="Rewrite" url="/recovery.php"  />
</rule>
<rule name="rule 18J">
	<match url="^recover/initiate/?$"  />
	<action type="Rewrite" url="/initiate.php"  />
</rule>
<rule name="rule 19J">
	<match url="^recover/code/?$"  />
	<action type="Rewrite" url="/recovery-code.php"  />
</rule>
<rule name="rule 20J">
	<match url="^recover/password/?$"  />
	<action type="Rewrite" url="/resetpassword.php"  />
</rule>
<rule name="rule 21J">
	<match url="^cchs-login/?$"  />
	<action type="Rewrite" url="/prota/index.php"  />
</rule>
<rule name="rule 22J">
	<match url="^request-quote/?$"  />
	<action type="Rewrite" url="/request-quote.php"  />
</rule>
<rule name="rule 23J">
	<match url="^cchs-retrieve/?$"  />
	<action type="Rewrite" url="/retrieve-pass.php"  />
</rule>

    </rules>
</rewrite>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    </system.webServer>
</configuration>